<div id="fullpage">
    <div class="section active" id="section0"><simple-slider>First Page</simple-slider></div>
    <div class="section" id="section1">
        <div class="slide "><simple-slider>First Slider</simple-sider></div>
        <div class="slide active"><simple-slider>Second Slider</simple-slider></div>
        <div class="slide"><simple-slider>Third Slider</simple-slider></div>
        <div class="slide"><simple-slider>Fourth Slider</simple-slider></div>
    </div>
    <div class="section" id="section2"><h1>Third Page</h1></div>
    <div class="section" id="section3"><h1>Last Page</h1></div>
</div>